<template>
  <div id="app" style="border-style:dashed;border-color:green;">
  <img height="200px" width="200px" src="https://vuejs.org/images/logo.png"/>
    <h1>{{ msg }}</h1>  
    <vue-message></vue-message>
    <div style="height:120px;border-style:dashed;border-color:red;">
        <article-list></article-list>    
    </div>
  </div>  
</template>

<script>
var mylib =  require('./article-list');
const EventBus = require('eventbusjs');
(window).EventBus = EventBus;

window.EventBus.addEventListener("articleSelected",  (e) => {  
  console.log(e);
  data.msg = e.target.title;
});

var data = {
      msg: 'Vue.js App! HELLO!'
}

export default {
  name: 'app',
  data () {
    return data;
  }
}
</script>

<style>

h2{
  color : blue;
}
</style>
