<div style="border-style:dashed;border-color:red">
  
    <img height="200px" width="200px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/250px-Angular_full_color_logo.svg.png"/>
    <h2>Hello from angular component :)</h2>
  
</div>